$header_primary : #25313F;
$primary_green: #3FD28B;
$primary_blue: #31B9E4;
$secondary_green: #8DDC97;
$tertiary_green:#4CAF50;
$primary_red : #FFE4E6;
$secondary_red: #D80000;
$backgroud_color:#EEEEEE;