body{
    font-family: QuicksandMedium;
    background-color: #EEEEEE;

}

@font-face {
    font-family: QuicksandMedium;
    src:  url('../assets/Quicksand_font_1/static/Quicksand-Medium.ttf') format('truetype'); 
} 