<signup-header [back]="goPrevious" [cancel]="cancel" [create]="create" [canCreate]="true"></signup-header>
<progressbar [progress]="2"></progressbar>
<div class="edit_container">
    <div class="title">
        personal information
    </div>
    <div (click)="editPersonalInfo()" class="edit_icon">
        <img src="assets/icons/edit.png" width="18px" alt="">
        Edit
    </div>
</div>
<div class="person_info_disp">
    <div class="personal_infos">
        <div class="info">
            <div class="title">
                first name
            </div>
            <div class="content">
                {{firstName}}
            </div>
        </div>
        <div class="info">
            <div class="title">
                last name
            </div>
            <div class="content">
                {{lastName}}
            </div>
        </div>
        <div class="info">
            <div class="title">
                Email
            </div>
            <div class="content">
                {{email}}
            </div>
        </div>
        <div class="info">
            <div class="title">
                phone number
            </div>
            <div class="content">
                {{phoneNumber}}
            </div>
        </div>
        <div class="info">
            <div class="resume_uploaded">
                <img src="assets/icons/Upload_black.svg" alt="">
                UPLOAD RESUME
                <div class="resume_url">
                    {{resumeName}}
                </div>
            </div>
        </div>
        <div class="info">
            <div class="title">
                enter portfolio url (if any)
            </div>
            <div class="content_url">
                {{portfolioURL? portfolioURL:"-"}}
            </div>
        </div>
        <div class="info">
            <div class="title">
                preferred job roles
            </div>
            <div *ngFor="let role of preferredJobRoles" class="content">
                {{role}}
            </div>

        </div>
        <div class="info">
            <div class="title">
                If you are registering via a referral, please mention full name of the employee who referred you
            </div>
            <div class="content_url">
                {{referralEmpName?referralEmpName:"-"}}
            </div>
        </div>
        <div class="info">
            <div class="send_updates">
                <img src="{{sendJobUpdate?'assets/icons/check_box_black.svg':'assets/icons/check_box_outline.svg'}}"
                    alt="">
                send me job related updates via email
            </div>
        </div>
    </div>
    <div class="user_img">
        <img [src]="displayImgURL? displayImgURL : 'assets/icons/user.png'" alt="">
    </div>
</div>
<div class="edit_container">
    <div class="title">
        Qualifications
    </div>
    <div (click)="editQualificationInfo()" class="edit_icon">
        <img src="assets/icons/edit.png" width="18px" alt="">
        Edit
    </div>
</div>

<div class="info_container">
    <div class="container_title">
        educational qualifications
    </div>
    <div class="infos">
        <div class="info">
            <div class="title">
                aggregated percentage
            </div>
            <div class="content">
                {{aggrPercentage}}
            </div>
        </div>
        <div class="info">
            <div class="title">
                year of passing
            </div>
            <div class="content">
                {{yearOfpassing}}
            </div>
        </div>

        <div class="grid-2-col">
            <div class="info">
                <div class="title">
                    qualification
                </div>
                <div class="content">
                    {{qualifications}}
                </div>
            </div>
            <div class="info">
                <div class="title">
                    stream
                </div>
                <div class="content">
                    {{stream}}
                </div>
            </div>
        </div>

        <div class="grid-2-col">
            <div class="info">
                <div class="title">
                    college
                </div>
                <div class="content">
                    {{collegeName}}
                </div>
            </div>
            <div class="info">
                <div class="title">
                    if others, please enter college name
                </div>
                <div class="content">
                    {{OtherCollegeName?OtherCollegeName:"-"}}
                </div>
            </div>
        </div>
        <div class="info">
            <div class="title">
                where is your college located?
            </div>
            <div class="content">
                {{collegeLocated}}
            </div>
        </div>
    </div>



</div>


<div class="info_container">
    <div class="container_title">
        professional qualifications
    </div>
    <div class="infos">
        <div class="info">
            <div class="title">
                Applicant Type
            </div>
            <div class="content">
                {{applicantType}}
            </div>
        </div>
    </div>
</div>

<div *ngIf="applicantType === 'Experienced'" class="sub_info_container">
    <div id="experienced">
        <div class="infos">
            <div class="info">
                <div class="title">
                    years of experience
                </div>
                <div class="content">
                    {{yearsOfexp}}
                </div>
            </div>
            <div class="info">
                <div class="title">
                    current CTC (in rupees)
                </div>
                <div class="content">
                    {{currentCTC}}
                </div>
            </div>
            <div class="info">
                <div class="title">
                    expected CTC (in rupees)
                </div>
                <div class="content">
                    {{expectedCTC}}
                </div>
            </div>
            <div class="info">
                <div class="title">
                    select all the technologies you are expertise in
                </div>
                <div *ngFor="let tech of expertiseTech" class="content">
                    {{tech}}
                </div>
                <div class="title">
                    if other, please mention
                </div>
                <div *ngIf="!otherExpertiseTech" class="content">
                    -
                </div>
                <div *ngFor="let tech of otherExpertiseTech" class="content">
                    {{tech}}
                </div>
            </div>
            <div class="info">
                <div class="title">
                    select all the technologies you are fimiliar in
                </div>
                <div *ngFor="let tech of fimiliarTech" class="content">
                    {{tech}}
                </div>

                <div class="title">
                    if other, please mention
                </div>
                <div *ngIf="!otherFimiliarTech" class="content">
                    -
                </div>
                <div *ngFor="let tech of otherFimiliarTech" class="content">
                    {{tech}}
                </div>
            </div>
            <div class="info">
                <div class="title">
                    Are you currently on notice period?
                </div>
                <div class="content">
                    {{onNoticePeriod?"Yes":"No"}}
                </div>
            </div>
            <div class="grid-2-col">
                <div class="info">
                    <div class="title">
                        if yes, when willl your notice period end?
                    </div>
                    <div class="content">
                        {{noticePeriodEndDate===""?'-':noticePeriodEndDate}}
                    </div>
                </div>
                <div class="info">
                    <div class="title">
                        how long is your notice period? (mention in months)
                    </div>
                    <div class="content">
                        {{noticePeriodTenure===""?'-':noticePeriodTenure}}
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="title">
                    have you appeared for any test by zeus in the past 12 months?
                </div>
                <div class="content">
                    {{appearedForZuesTest?"Yes":"No"}}
                </div>
                <div class="title">
                    if yes, which role did you applied for?
                </div>
                <div class="content">
                    {{roleAppliedFor?roleAppliedFor:"-"}}
                </div>
            </div>

        </div>
    </div>
</div>

<div *ngIf="applicantType==='Fresher'" class="sub_info_container">
    <div id="fresher">
        <div class="infos">
            <div class="info">
                <div class="title">
                    select all the technologies you are fimiliar in
                </div>
                <div *ngFor="let tech of fimiliarTech" class="content">
                    {{tech}}
                </div>
                <div class="title">
                    if other, please mention
                </div>
                <div *ngIf="!otherFimiliarTech" class="content">
                    -
                </div>
                <div *ngFor="let tech of otherFimiliarTech" class="content">
                    {{tech}}
                </div>
            </div>
            <div class="info">
                <div class="title">
                    have you appeared for any test by zeus in the past 12 months?
                </div>
                <div class="content">
                    {{appearedForZuesTest?"Yes":"No"}}
                </div>
                <div class="title">
                    if yes, which role did you applied for?
                </div>
                <div class="content">
                    {{roleAppliedFor?roleAppliedFor:"-"}}
                </div>
            </div>

        </div>
    </div>
</div>

<div class="next_btn_container">
    <button (click)="goPrevious()">Previous</button>
</div>