<progressbar [progress]="2"></progressbar>
<div class="edit_container">
    <div class="title">
        personal information
    </div>
    <div class="edit_icon">
        <img src="assets/icons/edit.png" width="18px" alt="">
        Edit
    </div>
</div>
<div class="person_info_disp">
    <div class="personal_infos">
        <div class="info">
            <div class="title">
                first name
            </div>
            <div class="content">
                Smil
            </div>
        </div>
        <div class="info">
            <div class="title">
                last name
            </div>
            <div class="content">
                thakur
            </div>
        </div>
        <div class="info">
            <div class="title">
                Email
            </div>
            <div class="content">
                smil.thakur@zeuslearning.com
            </div>
        </div>
        <div class="info">
            <div class="title">
                phone number
            </div>
            <div class="content">
                + 91 7487081401
            </div>
        </div>
        <div class="info">
            <div class="title">
                phone number
            </div>
            <div class="content">
                + 91 7487081401
            </div>
        </div>
        <div class="info">
            <div class="resume_uploaded">
                <img src="assets/icons/Upload_black.svg" alt="">
                UPLOAD RESUME
                <div class="resume_url">
                    Smil_resume.pdf
                </div>
            </div>
        </div>
        <div class="info">
            <div class="title">
                enter portfolio url (if any)
            </div>
            <div class="content_url">
                www.smil.com
            </div>
        </div>
        <div class="info">
            <div class="title">
                preferred job roles
            </div>
            <div class="content">
                Instructional Designer
            </div>
            <div class="content">
                Software Engineer
            </div>
        </div>
        <div class="info">
            <div class="title">
                If you are registering via a referral, please mention full name of the employee who referred you
            </div>
            <div class="content_url">
                -
            </div>
        </div>
        <div class="info">
            <div class="send_updates">
                <img src="assets/icons/check_box_black.svg" alt="">
                send me job related updates via email
            </div>
        </div>
    </div>
    <div class="user_img">
        <img src="assets/images/rdj.jpg" alt="">
    </div>
</div>
<div class="edit_container">
    <div class="title">
        Qualifications
    </div>
    <div class="edit_icon">
        <img src="assets/icons/edit.png" width="18px" alt="">
        Edit
    </div>
</div>

<div class="info_container">
    <div class="container_title">
        educational qualifications
    </div>
    <div class="infos">
        <div class="info">
            <div class="title">
                aggregated percentage
            </div>
            <div class="content">
                85
            </div>
        </div>
        <div class="info">
            <div class="title">
                year of passing
            </div>
            <div class="content">
                2024
            </div>
        </div>

        <div class="grid-2-col">
            <div class="info">
                <div class="title">
                    qualification
                </div>
                <div class="content">
                    bachelor in technology (B.tech)
                </div>
            </div>
            <div class="info">
                <div class="title">
                    stream
                </div>
                <div class="content">
                    information technology
                </div>
            </div>
        </div>

        <div class="grid-2-col">
            <div class="info">
                <div class="title">
                    college
                </div>
                <div class="content">
                    adani university
                </div>
            </div>
            <div class="info">
                <div class="title">
                    if others, please enter college name
                </div>
                <div class="content">
                    -
                </div>
            </div>
        </div>
        <div class="info">
            <div class="title">
                where is your college located?
            </div>
            <div class="content">
                ahmedabad
            </div>
        </div>
    </div>



</div>


<div class="info_container">
    <div class="container_title">
        professional qualifications
    </div>
    <div class="infos">
        <div class="info">
            <div class="title">
                Applicant Type
            </div>
            <div class="content">
                Experienced
            </div>
        </div>
    </div>
</div>

<div class="sub_info_container">
    <div class="experienced">
        <div class="infos">
            <div class="info">
                <div class="title">
                    years of experience
                </div>
                <div class="content">
                    5
                </div>
            </div>
            <div class="info">
                <div class="title">
                    current CTC (in rupees)
                </div>
                <div class="content">
                    7,50,000
                </div>
            </div>
            <div class="info">
                <div class="title">
                    expected CTC (in rupees)
                </div>
                <div class="content">
                    12,50,000
                </div>
            </div>
            <div class="info">
                <div class="title">
                    select all the technologies you are expertise in
                </div>
                <div class="content">
                    javascript
                </div>
                <div class="title">
                    if other, please mention
                </div>
                <div class="content">
                    -
                </div>
            </div>
            <div class="info">
                <div class="title">
                    select all the technologies you are fimiliar in
                </div>
                <div class="content">
                    Angular JS
                </div>
                <div class="content">
                    React
                </div>
                <div class="title">
                    if other, please mention
                </div>
                <div class="content">
                    -
                </div>
            </div>
            <div class="info">
                <div class="title">
                    Are you currently on notice period?
                </div>
                <div class="content">
                    yes
                </div>
            </div>
            <div class="grid-2-col">
                <div class="info">
                    <div class="title">
                        if yes, when willl your notice period end?
                    </div>
                    <div class="content">
                        2-jan-2024
                    </div>
                </div>
                <div class="info">
                    <div class="title">
                        how long is your notice period? (mention in months)
                    </div>
                    <div class="content">
                        5
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="title">
                    have you appeared for any test by zeus in the past 12 months?
                </div>
                <div class="content">
                    no
                </div>
                <div class="title">
                    if yes, which role did you applied for?
                </div>
                <div class="content">
                    -
                </div>
            </div>

        </div>
    </div>
</div>

<div class="next_btn_container">
    <button (click)="goPrevious()">Previous</button>
</div>