<walkin-card title="walk in for designer job" expire="5" [start_end_date]="['10-jul-2021','11-jul-2021']" venue="mumbai"
    [roles]="[true,false,false]"></walkin-card>

<walkin-card title="walk in for multiple job roles" [start_end_date]="['03-jul-2021','04-jul-2021']" venue="mumbai"
    [roles]="[true,true,true]" tag="internship opportunity for MCA students"></walkin-card>

<walkin-card title="walk in for design and development role job" [start_end_date]="['10-jul-2021','11-jul-2021']"
    venue="mumbai" [roles]="[true,true,false]"></walkin-card>