<signup-header [back]="back" [cancel]="cancel" [canCreate]="false"></signup-header>

<progressbar [progress]="1"></progressbar>
<app-loading *ngIf="isloading"></app-loading>
<div *ngIf="!isloading" class="qualification-info-container">
    <div class="content">
        <div class="title_container">
            <div class="title">
                Education Qualification
            </div>
            <div (click)="collapse_drop_edu()" class="collapse_btn_container">
                <img src="assets/icons/expand.svg" alt="">
            </div>

        </div>
        <div id="edu_inputs" class="user_inputs">
            <div class="layer1">
                <div class="input_container">
                    <signup-input [(value)]="agrrPercetage" title="Aggregated Percentage" placeholder="percentage"
                        type="number"></signup-input>
                </div>
                <div class="input_container">
                    <signup-input [(value)]="yearOfPassing" title="Year of Passing" placeholder="year"
                        type="date"></signup-input>
                </div>
            </div>
            <div class="layer2">
                <div class="input_container">
                    <app-dropdown [(option)]="qualification" title="Qualification"
                        [options]="qualifications"></app-dropdown>
                </div>
                <div class="input_container">
                    <app-dropdown [(option)]="stream" title="Stream" [options]="streams"></app-dropdown>
                </div>
                <div class="input_container">
                    <app-dropdown [(option)]="college" title="College" [options]="colleges"></app-dropdown>
                </div>
                <div class="input_container">
                    <signup-input [(value)]="otherCollege" title="If Other, Please Enter Your College Name"
                        placeholder="college name" type="text"></signup-input>
                </div>

            </div>
            <div class="layer3">
                <signup-input [(value)]="collegeLocation" title="Where is Your College Located?" placeholder="Location"
                    type="text"></signup-input>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="title_container">
            <div class="title">
                Professional Qualification
            </div>
            <div (click)="collapse_drop_prof()" class="collapse_btn_container">
                <img src="assets/icons/expand.svg" alt="">
            </div>

        </div>
        <div id="prof_inputs" class="prof_inputs">
            <div class="title">
                Applicant Type*
            </div>
            <div class="radio_btns_container">
                <radio-btn [checked]="selectedDiv==='Fresher'" label="Fresher" id="1" name="appli_type"
                    (value)="handleselect($event)"></radio-btn>
                <radio-btn [checked]="selectedDiv==='Experienced'" label="Experienced" id="2" name="appli_type"
                    (value)="handleselect($event)"></radio-btn>
            </div>
        </div>
    </div>

    <div id="sub_prof_inputs" class="content">

        <div id="fresher_content" *ngIf="selectedDiv ==='Fresher'" class="fresher_content">
            <div class="fimiliar_tec">
                <div class="title">select all the technologies you are fimiliar in</div>
                <div class="check_btn_container">
                    <div *ngFor="let tech of technologies; let i = index">
                        <checkbox-input [(checked)]="selectedFimiliarTechsFresher[i]" label="{{tech}}"></checkbox-input>
                    </div>
                </div>
            </div>

            <div class="text_input">
                <signup-input [(value)]="otherFimiliarTechString" title="If Other, Please Mention, comma separated"
                    placeholder="fimiliar tech" type="text"></signup-input>
            </div>
            <div class="zeus_test">
                <div class="title">
                    Have You Appeared For Any Test By Zeus Learning In The Past 12 Months?*
                </div>
                <div class="radio_btns_container">

                    <radio-btn [checked]="appearedForZeusTest" (value)="setAppearedForZeusTest($event)" label="Yes"
                        id="3" name="zues_test"></radio-btn>
                    <radio-btn [checked]="!appearedForZeusTest" (value)="setAppearedForZeusTest($event)" label="No"
                        id="4" name="zues_test"></radio-btn>
                </div>
            </div>
            <div class="text_input">
                <signup-input [(value)]="zeusRoleAppliedFor" title="If Yes, Which Role Did You Apply For?"
                    placeholder="Role" type="text"></signup-input>
            </div>
        </div>
        <div *ngIf="selectedDiv === 'Experienced'" class="experienced_content">
            <div class="layer1">
                <div class="input_container">
                    <signup-input [(value)]="yearsOfExperience" title="Years Of Expeience" placeholder="years"
                        type="number"></signup-input>
                </div>
                <div class="input_container">
                    <signup-input [(value)]="currentCTC" title="Current CTC (In Rupees)" placeholder="INR"
                        type="number"></signup-input>
                </div>
                <div class="input_container">
                    <signup-input [(value)]="expectedCTC" title="Expected CTC (In Rupees)" placeholder="years"
                        type="number"></signup-input>
                </div>
            </div>

            <div class="layer2">
                <div class="fimiliar_tec">
                    <div class="title">select all the technologies you are fimiliar in</div>
                    <div class="check_btn_container">
                        <checkbox-input *ngFor="let tech of technologies; let i = index"
                            [(checked)]="selectedFimiliarTechsExperienced[i]" label="{{tech}}"></checkbox-input>

                    </div>
                    <div class="input_container">
                        <signup-input [(value)]="otherFimiliarTechString"
                            title="If Other, Please Mention, comma separated" placeholder="fimiliar tech"
                            type="text"></signup-input>
                    </div>
                </div>

                <div class="fimiliar_tec">
                    <div class="title">select all the technologies you are Expertise in</div>
                    <div class="check_btn_container">
                        <checkbox-input *ngFor="let tech of technologies; let i = index"
                            [(checked)]="selectedExpertiseTechsExperieced[i]" label="{{tech}}"></checkbox-input>
                    </div>
                    <div class="input_container">
                        <signup-input [(value)]="otherExpertiseTechString"
                            title="If Other, Please Mention, comma separated" placeholder="expertise tech"
                            type="text"></signup-input>
                    </div>
                </div>
            </div>
            <div class="layer3">
                <div class="title">
                    Are you currently on notice period?*
                </div>
                <div class="radio_btns_container">
                    <radio-btn [checked]="onNoticePeriod" (value)="setNoticePeriod($event)" label="Yes" id="5"
                        name="notice"></radio-btn>
                    <radio-btn [checked]="!onNoticePeriod" (value)="setNoticePeriod($event)" label="No" id="6"
                        name="notice"></radio-btn>
                </div>
                <div class="notice_inputs">
                    <div class="input_container">
                        <signup-input [(value)]="noticePeriodEnd" title="If Yes, When Will Your Notice Period End?"
                            placeholder="Date" type="date"></signup-input>
                    </div>
                    <div class="input_container">
                        <signup-input [(value)]="noticePeriodTenure"
                            title="How Long Is Your Notice Period?(Mention In Months)" placeholder="month(s)"
                            type="text"></signup-input>
                    </div>
                </div>
            </div>
            <div class="zeus_test">
                <div class="title">
                    Have You Appeared For Any Test By Zeus Learning In The Past 12 Months?*
                </div>
                <div class="radio_btns_container">

                    <radio-btn [checked]="appearedForZeusTest" (value)="setAppearedForZeusTest($event)" label="Yes"
                        id="3" name="zues_test"></radio-btn>
                    <radio-btn [checked]="!appearedForZeusTest" (value)="setAppearedForZeusTest($event)" label="No"
                        id="4" name="zues_test"></radio-btn>
                </div>
                <div class="text_input">
                    <signup-input [(value)]="zeusRoleAppliedFor" title="If Yes, Which Role Did You Apply For?"
                        placeholder="Role" type="text"></signup-input>
                </div>
            </div>

        </div>

    </div>






    <div class="next_btn_container">
        <button (click)="navigate()">next</button>
    </div>
</div>