.loading {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.upload_resume_container {
  input {
    display: none;
  }
  div {
    margin-left: 5px;
  }
}
.main_details_container {
  padding: 16px;
  background-color: white;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .heading {
      font-size: 22px;
      text-transform: capitalize;
    }
  }

  .date_time_venue_container {
    margin-top: 16px;

    .date_venue {
      font-size: 14px;
      display: flex;
      align-items: center;

      .venue {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #666666;
        img {
          width: 15px;
          margin-right: 8px;
        }
      }
    }
  }

  .sub_title {
    color: #666666;
    font-size: 12px;
    margin-bottom: 8px;
  }

  .v_divider {
    width: 2px;
    background-color: gray;
    opacity: 0.2;
    height: 20px;
    margin-left: 10px;
    margin-right: 5px;
  }
}

.h_divider {
  height: 2px;
  background-color: black;
  opacity: 0.12;
  margin-top: 16px;
  margin-bottom: 16px;
}

.job_roles {
  .roles {
    display: flex;
    align-items: center;
    .role {
      display: flex;
      align-items: center;

      .role_icon {
        border: 1px solid black;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
      }

      font-size: 12px;
      color: #1f7a54;
      text-transform: capitalize;
    }
    .v_divider {
      margin-right: 10px;
    }
  }
}

.drop_collapse_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dbefff;
  .title {
    text-transform: capitalize;
    margin: 16px;
  }
  .collapse_btn_container {
    align-self: stretch;
    border-left: 1px solid black;
    display: flex;
    width: 40px;
    align-items: center;
    justify-content: center;
    img {
      width: 25px;
    }
  }
}

.application_process_container {
  background-color: white;
  .content {
    margin: 16px;
  }
}

#application_process_container {
  transition: all 1s ease;
  max-height: 0px;
  overflow: hidden;
}

.instructions {
  ul {
    list-style-type: none;
    font-size: 12px;
    margin-top: 16px;
    li {
      margin-top: 8px;
    }
  }
}

.round {
  font-size: 12px;
  margin-top: 40px;
}

.time_slot_container {
  background-color: white;
  margin-top: 25px;
}

.sub_title {
  color: #666666;
  font-size: 12px;
  text-transform: capitalize;
}
.sub_content {
  font-size: 14px;
  margin-top: 16px;
}

.main_container {
  background-color: white;
  overflow: hidden;

  .content {
    padding: 16px;
  }
}

.time_slots_pref_container {
  margin-top: 25px;
  .title {
    font-size: 14px;
  }
  .time_slot_pref {
    .sub_title {
      margin-top: 25px;
    }
    .time_slots {
      margin-top: 20px;
      .radio_btn {
        margin-top: 20px;
      }
    }
  }
}

.upload_resume_container {
  cursor: pointer;
  display: flex;
  align-items: center;
  img {
    margin-right: 5px;
  }
  span {
    text-transform: uppercase;
    font-size: 14px;
    color: #1f7a54;
  }
}

.margin_con {
  margin-top: 25px;
}

.bottom_btn {
  display: none;
}

.gap {
  display: none;
}

@media only screen and (max-width: 600px) {
  .main_details_container {
    .title {
      .heading {
        text-align: center;
        font-size: 20px;
      }
      header-btn {
        display: none;
      }
    }
  }
  .roles {
    flex-direction: column;
    justify-content: start;
    .role {
      justify-content: start;
      width: 100%;
      margin-top: 15px;
    }
    .v_divider {
      display: none;
    }
  }

  .drop_collapse_container {
    .title {
      font-size: 14px;
    }
  }

  .bottom_btn {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 40px;
    border: none;
    background-color: #3fd28b;
    text-transform: uppercase;
  }
  .gap {
    display: block;
    height: 100px;
  }
}
