.drop_down_container{
    margin-top: 5px;
    margin-left: 9px;
    margin-right: 9px;
    width: 100%;
}

.dropdown_title{
    color: #666666;
    font-size: 12px;
}

.dropdown_select{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.dropdown{
    margin-top: 35px;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown_hr{
    background-color: #000000;
    opacity: 0.12;
}
