.header{
    background-color: #25313F;
   
    width: 100%;
}

.header_icons{
    
    display: flex;
    padding: 10px;
    
}


.header_icon{
    margin-left: 20px;
}

.blue_strip{
    height: 5px;
    background-color: #31B9E4;
    width: 100%;
}
