.hall_ticket_container {
  margin-top: 80px;
  position: relative;
  background-color: white;
  .tick_container {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    height: 100px;
    background-color: #18be2e;
    img {
      width: 50px;
    }
  }

  .content {
    padding: 100px 16px 16px;
    .layer1 {
      font-size: 18px;
      text-align: center;
    }
  }
}

.h_divider {
  height: 2px;
  background-color: black;
  opacity: 0.12;
  margin-top: 16px;
  margin-bottom: 16px;
}

.sub_title {
  color: #666666;
  font-size: 12px;
  text-transform: capitalize;
}
.sub_content {
  font-size: 14px;
  margin-top: 16px;
  div {
    margin-bottom: 8px;
  }
}

.instructions {
  ul {
    list-style-type: "-";
    font-size: 12px;
    margin-top: 16px;
    li {
      margin-top: 8px;
    }
  }
}

.btn_container {
  display: flex;
  justify-content: center;
  .hallticket_btn {
    background-color: #3fd28b;
    border: none;
    width: 200px;
    height: 30px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0px 3px 5px #0000003d;
  }
}
