<div class="hall_ticket_container">
    <div class="tick_container">
        <img src="assets/icons/check_white.svg" alt="">
    </div>
    <div class="content">
        <div class="layer1">
            Congratulations! You have successfully applied for the walk-in opportunity
        </div>
        <div class="h_divider"></div>
        <div class="time_slot">
            <div class="sub_title">
                Date & Time of Walk-In :
            </div>
            <div class="sub_content">
                <div>
                    03rd July 2021
                </div>
                <div>
                    9:00 AM to 11:00 AM
                </div>
            </div>
        </div>
        <div class="h_divider">
        </div>
        <div class="venue">
            <div class="sub_title">
                Venue of Walk-In :
            </div>
            <div class="sub_content">
                <div>
                    Zeus Systems Pvt. Ltd.
                </div>
                <div>
                    1402, 14th Floor, Tower B, Peninsula Business Park. Ganpatrao Kadam Marg
                </div>
                <div>
                    Lower Parel (W)
                </div>
                <div>
                    Mumbai - 400 013
                </div>
                <div>
                    Phone: +91-22-66600000
                </div>
            </div>
        </div>
        <div class="h_divider"></div>
        <div class="remember">
            <div class="sub_title">
                THINGS TO REMEMBER :
            </div>
            <div class="instructions">
                <ul>
                    <li>Please report 30 MINUTES prior to your reporting time.</li>
                    <li>Download your Hall Ticket from below and carry it with you during your Walk-In.</li>
                </ul>
            </div>
        </div>
        <div class="h_divider"></div>
        <div class="btn_container">
            <button class="hallticket_btn">download hall ticket</button>
        </div>
    </div>
</div>