<div class="header_container">
    <div class="header">
        <img class="header_logo" src="assets/icons/Zeus-LMS-logo.svg" alt="">
    </div>
    <div class="sub_header_container">

        <img class="back_btn" src="assets/icons/back.svg" alt="">
        <div class="title">
            Create An Account
        </div>
        <div class="sub_header_btn_container">
            <header-btn title="Cancel"></header-btn>
            <header-btn title="Create" [isDisabled]="!canCreate"></header-btn>
        </div>

    </div>
</div>