.header_btn_enabled {
  background-color: #3fd28b;
  padding: 5px 20px;
  margin: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.header_btn_disabled {
  background-color: #3fd28b;
  padding: 5px 20px;
  margin: 10px;
  border-radius: 2px;
  opacity: 0.5;
  cursor: pointer;
}
