*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: QuicksandMedium;
    background-color: #EEEEEE;
    position: relative;

}

@font-face {
    font-family: QuicksandMedium;
    src:  url('assets/Quicksand_font_1/static/Quicksand-Medium.ttf') format('truetype'); 
}  
.header{
    background-color: #25313F;
    position: relative;
}

.header_content{
    display: flex;
    align-items: center;
    padding: 10px;
}



.header_actions{
    display: flex;
    width: 100%;
    justify-content: end;
    color: #3FD28B;
    align-items: center;
}

#alert_btn{
    background-image: url("assets/icons/alerts.svg");
    height: 20px;
    width: 20px;
    background-size: contain;
}

#announcements_btn{
    background-image: url("assets/icons/announcements.svg");
    height: 20px;
    width: 20px;
    background-size: contain;
    margin-right: 20px;
}

.header_action_selected{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;

}

.selected_underline{

    position: absolute;
    bottom: 0;
    height: 5px;
    width: 100px;
    background-color: white;
}

.header_actions>div{
    margin-left: 15px;
    margin-right: 15px;
}

.collapse_toggle{
    display: none;
}


.collapse_nav_container{
    width: 280px;
    background-color: #FFFFFF;
    position: absolute;
    top: 62px;
    z-index: 10;
    right: 4%;
    box-shadow: 0px 13px 20px #0000003D;
    border-radius: 2px;
    font-size: 14px;
    color: #1F7A54;

}

.nav_button{
    padding: 15px;
}

.nav_button_uncollapsed{
    background-color: #F3F3F3;
}

.nav_button_uncollapsed_title{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

.nav_button_uncollapsed_title > img{
    width: 12px;
}

.nav_button_content{
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav_button_collapsed{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
}

.alerts_container{
    position: absolute;
    width: 315px;
    top: 60px;
    right: 9%;
    z-index: 10;
    box-shadow: 0px 3px 6px #0000003D;

    

}

.alert_content{
    max-height: 500px;
    overflow: scroll;

}

.not_checked_alert{
    padding: 16px;
    border-bottom: 1px solid #2222221F;
    background-color: #FFFFEE;
}

.alert_text{
    width: 260px;
}

.alert_body{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: black;

}

.alert_timestamp{
    font-size: 12px;
    display: flex;
    justify-content: end;
    margin-top: 8px;
    color: #6E6E6E;
}

.not_done_img{
    width: 18px;
    height: 18px;
    background-image: url("assets/icons/dnd.png");
    background-size: contain;
    border-radius: 100%;
    
}

.checked_alert{
    padding: 16px;
    border-bottom: 1px solid #2222221F;
    background-color: white;
}

.done_img{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-image: url("assets/icons/correct.png");
    background-size: contain;
}

.alert_sub_body{
    display: flex;
    font-size: 12px;
    margin-top: 8px;

}

.alert_sub_body_title{
    color: #6E6E6E;
}

.alert_sub_body_content{
    margin-left: 2px;
    color: black;
}

.show_all_alert_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    box-shadow: 0px 1px 6px #0000003D;
    border-radius:  0px 0px 2px 2px;
    font-size: 14px;
    color: #1F7A54;
   
   
    
}

.announcements_container{
    width: 315px;
    position: absolute;
    top: 60px;
    right: 5%;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 10;
    transition: all 2s linear;



}



.announcements_content{
    max-height: 500px;
    overflow: scroll;


}

.announcements_footer{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 8px;
    color: #6E6E6E;
}

.annoucement_user{
    font-size: 12px;
    color: #222222;
    margin-bottom: 8px;
}

.annoucement_user > span{
    color: #6E6E6E;
    margin-bottom: 8px;
}

.announcement_files{
    display: flex;
    align-items: center;
}

.file_icon{
    width: 15px;
    height: 15px;
    margin-right: 1px;
    background-image: url("assets/icons/attach-file.png");
    background-size: contain;
}

.divider{
    width: 1px;
    height: 50%;
    background-color: #2222221F;
}
.show_all_announcement_btn{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #1F7A54;
    font-size: 14px;
    box-shadow: 0px 1px 6px #0000003D;
    border-radius: 0px 0px 2px 2px;


}

.show_all_btn{
    margin: auto;
}
.create_new_btn{
    margin: auto;
}

.profile_pic{
    width: 30px;
    height: 30px;
    border: 2px solid #3FD28B;
    object-fit: contain;
    border-radius: 100%;
}

.blue_strip{
    display: none;
    height: 5px;
    background-color: #31B9E4;
    width: 100%;
}




.body_content{
    margin: 25px;
    min-height: 100vh;
    overflow: scroll;

}

.course_class_nav{
    background-color: #8DDC97;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
}

.course_class_nav_button{
    display: flex;
    align-items: center;
    padding: 20px;
}
.course_class_nav_button > img{
    margin-right: 10px;
    width: 35px;
}

.course_stat{
    font-weight: bold;
    font-size: 24px;
    margin-left: 5px;
    margin-right: 5px;
}


.course_filter_container{
    margin-top: 25px;
    display: flex;
    align-items: center;
    color: #686868;
    justify-content: space-between;
}

.course_count{
    font-size: 12px;
}


.sort_label{
    font-size: 12px;
    margin-right: 6px;
}

.sort_course{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.dropdown{

    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;

}

.drop_icon{
    margin-left: 55px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown_hr{
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
}


.sort_icon{
    margin-left: 25px;
}


.content_divider{
    background-color: #000000;
    opacity: 0.5;
    margin-top: 20px;
}

.course_card_grid{
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
    
}


.course_card{
    
    background-color: white;
    border-radius: 2px;
    padding-bottom: 20px;
    position: relative;

}

.expired{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFE4E6;
    color: #D80000;
    font-size: 10px;
    padding: 2px;
    border-radius: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.course_card_header{
    display: flex;
    margin: 25px;
}
.course_card_header > img{
    width: 132px;
    height: 157px;
    margin-right: 16px;
    border-radius: 2px;
}

.card_header_content{
    width: 100%;
}

.card_title{
    font-size: 16px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.class_name_null{
    color: #666666;
}

.subject_grade{
    display: flex;
    color: #666666;
    align-items: center;
    font-size: 12px;
}


.course_content_container{
    margin-top: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.course_content{
    display: flex;
    align-items: center;
    font-size: 12px;

}

.course_content_no{
    font-weight: bold;
    margin-right: 5px;
}

.course_material{
    color: #666666;
    margin-right: 6px;
}

.grade > span{
    color: #1F7A54;
}

.sub_divide{
    height: 12px;
    width: 1px;
    background-color: #000000;
    opacity: 0.12;
    margin-left: 10px;
    margin-right: 10px;
}

.class_stats{
    display: flex;
    font-size: 12px;
    color: #666666;
    margin-top: 9px;
    align-items: center;
}

.card_divider{
    background-color: #000000;
    opacity: 0.2;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    
}


.card_footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.card_footer_button{
    width: 25px;
}

.footer_container{
    position: static;
    bottom: 0;
    width: 100%;
}


.footer_nav{
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.footer_nav > a {
    text-decoration: none;
    color: #1F7A54;
    font-size: 14px;

}

.nav_link_divider{
    height: 18px;
    width: 1px;
    background-color: #000000;
    opacity: 0.12;
    margin-right: 10px;
    margin-left: 10px;
}

.trademark{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    background-color: #E0E1E1;
}


.trademark_text{
    margin-right: 5px;
    margin-left: 5px;
    color: #616161;
}

.trademark_text_bold{
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;

}

.trademark_text_bold > a{
    text-decoration: none;
    color: #616161;

}


/* for mobile view */

@media only screen and (max-width: 768px) {

    .alerts_container{
       
        top: 62px;
        right:  20%;
      
    }

    .header_action_profile{
        margin-right: 30px;
    }

    .announcements_container{
        right: 13%;
    }
  
    .blue_strip{
        display: block;
    }

  .course_card_grid{
    grid-template-columns: 1fr;
  }

  .header_action{
    display: none;
  }

  .header_action_selected{
    display: none;
  }

  .collapse_toggle{
    display:block;
    margin-right: 25px;
  }

  
  
.trademark{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    padding: 10px;
    background-color: #E0E1E1;
}

.trademark .nav_link_divider {
    display: none;
}
  
}