<div *ngIf="!isloading" class="container">
    <div class="password_container">
        <label for="pass">Create a password <br> for <span>{{email}}</span></label>
        <input (keyup)="onChange($event)" [(ngModel)]="password" type="password" id="pass" placeholder="Password">
        <input (keyup)="onChange($event)" [(ngModel)]="confirmPassword" type="password" id="cpass"
            placeholder="Confirm Password">
        <header-btn (click)="createUser()" title="Create"> </header-btn>
    </div>
    <div *ngIf="isDiff" class="error">Passwords do not match.</div>
    <div *ngIf="isEmpty" class="error">Passwords cannot be empty.</div>
    <div *ngIf="isWeak" class="error">Password is weak (should be at least 8 characters long).</div>
</div>

<div *ngIf="isloading" class="container">
    <app-loading></app-loading>
</div>